/*CSS RESET*/


*{
	padding:0;
	margin: 0;
	font-size: 100%;
	line-height: 1em;
 }

/*STYLE LINKS*/

#nav{
    color: beige;
    text-decoration: none;
}
a{
    color: beige;
    text-decoration: none;
}

/*NAV*/

.main-logo img {
    width: 46px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    text-align: left;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #1E1E1E;
    padding: 1em 1em;
    font-size: 0.9em;
}

nav ul{
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li{
    display: inline;
    margin: 20px;
}

nav a:link{
    color: #fafafa;
}


.navbar-container {
	position: fixed;
	text-align: right;
	box-shadow: 0px -20px 5px 20px #333333;
	padding: 10px;
    font-size: 0;
    height: .3em;
}

.navbar-container ul {
	margin: 0;
	padding: 0;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}

.navbar-container ul li {
	display: inline-block;
    font-size: 12px;
    text-align: right;
}

.navbar-container ul li a {
	color: #ffffff;
	text-decoration: none;
	display: inline-block;	
	padding: 10px;
    transition: 0.5s;
    
}

.navbar-container ul li .underline1 {
	height: 3px;
	background-color: transparent;
	width: 0%;
    transition: 0.5s;
	margin: 0 auto;
}

.navbar-container ul li .underline2 {
	height: 3px;
	background-color: transparent;
	width: 0%;
    transition: 0.5s;
	margin: 0 auto;
}

.navbar-container ul li .underline3 {
	height: 3px;
	background-color: transparent;
	width: 0%;
    transition: 0.5s;
	margin: 0 auto;
}
.navbar-container ul li .underline4 {
	height: 3px;
	background-color: transparent;
	width: 0%;
    transition: 0.5s;
	margin: 0 auto;
}
.navbar-container ul li .underline5 {
	height: 3px;
	background-color: transparent;
	width: 0%;
    transition: 0.5s;
	margin: 0 auto;
}
.navbar-container ul li .underline6 {
	height: 3px;
	background-color: transparent;
	width: 0%;
    transition: 0.5s;
	margin: 0 auto;
}
.navbar-container ul li .underline7 {
	height: 3px;
	background-color: transparent;
	width: 0%;
    transition: 0.5s;
	margin: 0 auto;
}

.navbar-container ul li.active-link .underline1 {
	width: 100%;
	background-color: white;
}
.navbar-container ul li.active-link .underline2 {
	width: 100%;
	background-color: white;
}
.navbar-container ul li.active-link .underline3 {
	width: 100%;
	background-color: white;
}
.navbar-container ul li.active-link .underline4 {
	width: 100%;
	background-color: white;
}
.navbar-container ul li.active-link .underline5 {
	width: 100%;
	background-color: white;
}
.navbar-container ul li.active-link .underline6 {
	width: 100%;
	background-color: white;
}
.navbar-container ul li.active-link .underline7 {
	width: 100%;
	background-color: white;
}

.navbar-container ul li:hover .underline1 {
	background-color: #5cc5f1;
	width: 100%;
}
.navbar-container ul li:hover .underline2 {
	background-color: #aed0a4;
	width: 100%;
}
.navbar-container ul li:hover .underline3 {
	background-color: #d88e5e;
	width: 100%;
}
.navbar-container ul li:hover .underline4 {
	background-color: #f396a3;
	width: 100%;
}
.navbar-container ul li:hover .underline5 {
	background-color: #f7c655;
	width: 100%;
}
.navbar-container ul li:hover .underline6 {
	background-color: #f396f2;
	width: 100%;
}
.navbar-container ul li:hover .underline7 {
	background-color: #96aef3;
	width: 100%;
}

.navbar-container ul li:active a {
	transition: none;
	color: rgba(255,255,255,0.76);
}

.navbar-container ul li:active .underline1 {
	transition: none;
	background-color: rgba(255,255,255,0.76);
}

.navbar-container ul li:active .underline2 {
	transition: none;
	background-color: rgba(255,255,255,0.76);
}

.navbar-container ul li:active .underline3 {
	transition: none;
	background-color: rgba(255,255,255,0.76);
}

.navbar-container ul li:active .underline4 {
	transition: none;
	background-color: rgba(255,255,255,0.76);
}

.navbar-container ul li:active .underline5 {
	transition: none;
	background-color: rgba(255,255,255,0.76);
}

.navbar-container ul li:active .underline6 {
	transition: none;
	background-color: rgba(255,255,255,0.76);
}

.navbar-container ul li:active .underline7 {
	transition: none;
	background-color: rgba(255,255,255,0.76);
}


 
 
 /*---------MAIN STYLING------*/
 body{
	width: 80%;
	max-width: 670px;
	margin: auto;
	background: #353434;
	color: #333;
	font-family: 'Libre Baskerville', serif;
 }
 
 header{margin-bottom: 5em;}
 
 /*----ADDING FLEXBOX----*/
 article{
	 display: flex;
 }
 
 .main{
	 flex: 3;
	 padding-right: 1em;
 }
	
 aside{
	 flex: 1;
	 font-size: 0.75em;
	 font-style: italic;
	 border-left: 1px solid #c06;
	 padding-left: 1em;
 }
 
 /*---------TYPOGRAPHY---------*/
 
 p {font-family: 'Open Sans', sans-serif;}
 
 h1, h2, h3{
	font-weight: normal;
	color: rgb(228, 228, 228);
	text-align: left;
 }
 
 p, blockquote {
	margin-bottom: 1.5em;
	line-height: 1.5;
	color: #fafafa;
 }
 
 h1 {font-size: 2.872em;
	margin-top: 2em;
	margin-bottom: 0.2em;}
 
 h2 {font-size: 1.999em;
	margin: 1em 0 1em 0;}
 
 h3 {font-size: 1.414em;
	margin-bottom: 1.5em;}
 
 blockquote {
	font-size: 1.5em;
	hanging-punctuation: first;
	text-indent: -0.45;
	color: rgb(14, 6, 131);
 }
 
 cite{
	font-size: 1em;
 }
 
 header h3{
	font-style: italic;
 }
 
 header p{
	font-size: 1.414em;
 }
 
/*ADOBE FONTS*/
#headerfont{
    font-family: jaf-bernina-sans, sans-serif;
    font-weight: 600;
    font-style: normal;
 }

 #font{
    font-family: source-code-pro, monospace;
    font-weight: 300;
    font-style: normal;
 }



 /*---------FOOTER-------*/
 
 footer{
	text-align: center;
	font-size: 0.8em;
	padding: 2em 0 4em 0;
 }
 /*----FOOTER-LINKS-----*/
 .connections{
	 position: relative;
	 margin: 0 auto;
 }
 .connections ul{
	 margin: 0;
	 padding: 0;
 }
 .connections li{
	 margin: 0 15px;
	 padding: 0;
	 list-style: none;
	 display: inline-block;
 }
 .connections a:link{
	 border-bottom: none;
 }
 .connections img{
	 opacity: 0.5;
	 border: none;
 }
 .connections a:hover{
	 opacity: 1.0;
	 border-bottom: none;
	 transition: all 0.3s ease-in-out;
 }
 #anchor{
   text-align: left;
   display: inline-block;
 }
 
 /*---MEDIA QUERIES----*/
 
 /*---TABLET---*/
 @media (max-width 50em) {
	 body{
		 width: 100%;
	 }
	 header p, article{
		 width: 95%;
		 padding: 0.5em;
	 }
	 article{
		 flex-flow: column;
		 flex-direction: column;
	 }
	 section{
		 width: 90%;
	 }
	 .aside {
		 border-left: none;
		 margin: 0;
		 padding-left: 1em;
		 font-size: 1.2em;
	 }
 }
 /*--------SMARTPHONE------*/
 @media (max-width: 30em) {
	 body {
	  margin: auto 0;
	  width: 95%;
	  font-size: 120%; 
	  }
  
	   
  nav ul li {
	  display: block;
	  margin: 25px; }
	   
  table {font-size: 95%}
	   
  article {
	  width: 90%;
	  } 
  
  h1 {font-size: 2em;
	   line-height: 1.3}   
  blockquote { font-size: 1.25em;
		   padding: 0;
		   line-height: 1.6em}  
	   
  hgroup h2 {font-size: 1.5em;
  padding-top: 0.5em}  
	   
  nav ul li {font-size: .75em;
		  margin: 10px}
	   
	   img {display: none}
  }